{% extends "base.html" %}

{% block title %}Register - PassHunter{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post" class="form-container">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label(title="Email address used to log in.") }}
            {{ form.email(title="Email address used to log in.", placeholder="ja@gmail.com") }}
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label(title="State your name.") }}
            {{ form.name(title="State your name.", placeholder="Chuck P.") }}
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(title="Strong password.") }}
            {{ form.password(title="Strong password.", placeholder="*****") }}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_confirm.label }}
            {{ form.password_confirm }}
            {% for error in form.password_confirm.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}