{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Watchlists - PassHunter{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <h1>Watchlists</h1>
    <p>Here you can manage your watchlists.</p>
    <p><a href="{{ url_for('watchlist.create_watchlist') }}" class="btn btn-primary">Create New Watchlist</a></p>
        
    {% if pagination.items %}
        {# Table with individual watchlists #}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Alerts</th>
                </tr>
            </thead>
            <tbody>
                {% for watchlist in pagination.items %}
                    <tr>
                        <td><a href="{{ url_for('watchlist.view_watchlist', watchlist_id=watchlist.id) }}">{{ watchlist.name }}</a></td>
                        <td>{{ watchlist.description }}</td>
                        <td>{{ watchlist.print_active() }}</td>
                        <td>{{ alert_count(watchlist_id=watchlist.id) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {# Pagination #}
        {{ macros.render_pagination(pagination, 'watchlist.list_watchlists') }}
    {% else %}
        <p><i>You do not have any watchlists yet.</i></p>
    {% endif %}
{% endblock %}
