{% extends "base.html" %}
{# Specify if the template is used for creating or editing #}
{% set title = 'Edit' if watchlist else 'Create' %}
{% block title %}{{ title }} Watchlist - PassHunter{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
        <h1>{{ title }} Watchlist</h1>

        {# Form to edit or to create a new watchlist #}
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}
                {{ form.name }}
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}
                {{ form.description }}
                {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.is_active.label }}
                {{ form.is_active }}
                {% for error in form.is_active.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}
                {{ form.email }}
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.send_alerts.label }}
                {{ form.send_alerts }}
                {% for error in form.send_alerts.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit }}
            </p>
        </form>
    {# Differentiate where to return based on action #}
    {% if watchlist %}
        <a href="{{ url_for('watchlist.view_watchlist', watchlist_id=watchlist.id) }}">Cancel</a>
    {% else %}
        <a href="{{ url_for('watchlist.list_watchlists') }}">Cancel</a>
    {% endif %}
{% endblock %}