{% extends 'base.html' %}

{% block title %}Edit Profile - PassHunter{% endblock %}

{% block content %}
<h1>Edit Profile</h1>
<div class="form-container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name }}
            {% for error in form.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>
    </form>
</div>
<a href="{{ url_for('profile.profile') }}">Cancel</a>
{% endblock %}